* {
  border: 0;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
p {
  text-shadow: #e8c2ca 1px 1px;
}
h1 {
  text-shadow: #735d78 4px 4px;
}
nav {
  position: fixed;
  background-color: #343434d5;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}
nav a {
  text-decoration: none;
  color: #fff;
  font-size: 26px;
  padding-left: 2vw;
  padding-right: 2vw;
}
nav li {
  list-style-type: none;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #735d78;
}
header h1 {
  font-size: 140px;
  color: #e8c2ca;
}
header p {
  font-size: 40px;
  padding-top: 4vh;
}
#about {
  background-color: #735d78;
  height: 120vh;
}
#about h2 {
  text-align: center;
  text-shadow: #e8c2ca 3px 3px;
  font-size: 60px;
  padding-top: 10vh;
  padding-bottom: 4vh;
  margin: 0;
}
#about p {
  width: 80%;
  font-size: 24px;
  color: #e8c2ca;
}
#about p h1 {
  color: #e8c2ca;
  padding: 1vh;
  font-size: 34px;
}
#about-p {
  display: flex;
  justify-content: center;
  height: 90vh;
  background-color: #735d78;
}
main {
  height: 110vh;
  background-color: #735d78;
}
main h1 {
  text-shadow: #e8c2ca 3px 3px;
  padding-top: 10vh;
  padding-bottom: 5vh;
  text-align: center;
  font-size: 60px;
}
main div {
  padding-bottom: 2vh;
  padding-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main div a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}
main div a h2 {
  font-size: 26px;
}
footer {
  height: 10vh;
  background-color: #735d78;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
}
footer a {
  margin: 0 8px;
  text-decoration: none;
  color: #e8c2ca;
  transition: color 0.3s ease;
}
footer a:hover {
  color: #fff;
}
/* Media Queries */
@media screen and (max-width: 767px) {
  nav {
    position: fixed;
    width: 100%;
    top: 0;
  }
  nav a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 1em;
  }
  header h1 {
    text-align: center;
    font-size: 60px;
  }
  header p {
    font-size: 20px;
  }
  #about h2 {
    font-size: 32px;
  }
  #about p {
    font-size: 15px;
  }
  #about p h1 {
    font-size: 22px;
  }
  main h1 {
    text-align: center;
    font-size: 32px;
  }
  main {
    height: 100vh;
  }
  main div {
    flex-direction: column;
    align-items: center;
  }
  main div a {
    margin-bottom: 10px;
  }
  article p {
    font-size: 16px;
  }
  footer {
    height: 10vh;
    background-color: #735d78;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
  }
  footer a {
    margin: 0 8px;
    text-decoration: none;
    color: #e8c2ca;
    transition: color 0.3s ease;
  }

  footer a:hover {
    color: #fff;
  }
}
@media screen and (min-width: 768px) {
  header h1 {
    text-align: center;
  }
  #about {
    height: 150vh;
  }
}
